@import 'tailwindcss';

/* ------------------*/
/* General CSS Reset */
/*-------------------*/
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	html {
		scroll-behavior: smooth;
		-webkit-tap-highlight-color: transparent;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button {
		cursor: pointer;
		outline: transparent;
	}

	body {
		line-height: 1.5;
	}

	/* Custom scrollbar styles */
	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #d1d5db;
		border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #9ca3af;
	}
}
